<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.dd.middle.order.mapper.OrderDeliverySelfRaisingInfoMapper">
    <resultMap type="com.deepexi.dd.middle.order.domain.OrderDeliverySelfRaisingInfoDO" id="BaseResultMap">
        <result property="id" column="id"/>

        <result property="tenantId" column="tenant_id"/>

        <result property="appId" column="app_id"/>

        <result property="version" column="version"/>

        <result property="remark" column="remark"/>

        <result property="deleted" column="is_deleted"/>

        <result property="createdTime" column="created_time"/>

        <result property="createdBy" column="created_by"/>

        <result property="updatedTime" column="updated_time"/>

        <result property="updatedBy" column="updated_by"/>

        <result property="salePickGoodsId" column="sale_pick_goods_id"/>

        <result property="salePickGoodsCode" column="sale_pick_goods_code"/>

        <result property="saleOutTaskId" column="sale_out_task_id"/>

        <result property="saleOutTaskCode" column="sale_out_task_code"/>

        <result property="provinceCode" column="province_code"/>

        <result property="provinceName" column="province_name"/>

        <result property="cityCode" column="city_code"/>

        <result property="cityName" column="city_name"/>

        <result property="areaCode" column="area_code"/>

        <result property="areaName" column="area_name"/>

        <result property="streetCode" column="street_code"/>

        <result property="streetName" column="street_name"/>

        <result property="detailedAddress" column="detailed_address"/>

        <result property="warehouseContac" column="warehouse_contac"/>

        <result property="warehouseMobile" column="warehouse_mobile"/>

        <result property="carNumber" column="car_number"/>

        <result property="identityCard" column="identity_card"/>

        <result property="saleRaisingName" column="sale_raising_name"/>

        <result property="mobile" column="mobile"/>

        <result property="saleOrderId" column="sale_order_id"/>

        <result property="saleOrderCode" column="sale_order_code"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            tenant_id,
            app_id,
            version,
            remark,
            is_deleted,
            created_time,
            created_by,
            updated_time,
            updated_by,
            sale_pick_goods_id,
            sale_pick_goods_code,
            sale_out_task_id,
            sale_out_task_code,
            province_code,
            province_name,
            city_code,
            city_name,
            area_code,
            area_name,
            street_code,
            street_name,
            detailed_address,
            warehouse_contac,
            warehouse_mobile,
            car_number,
            identity_card,
            sale_raising_name,
            mobile,
            sale_order_id,
            sale_order_code    </sql>

    <update id="deleteByIdIn">
        UPDATE order_delivery_self_raising_info SET is_deleted = 1 WHERE id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_delivery_self_raising_info
        WHERE is_deleted = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="appId != null">
            and app_id = #{appId}
        </if>
        <if test="version != null">
            and version = #{version}
        </if>
        <if test="remark != null">
            and remark = #{remark}
        </if>
        <if test="createdTime != null">
            and created_time = #{createdTime}
        </if>
        <if test="createdBy != null">
            and created_by = #{createdBy}
        </if>
        <if test="updatedTime != null">
            and updated_time = #{updatedTime}
        </if>
        <if test="updatedBy != null">
            and updated_by = #{updatedBy}
        </if>
        <if test="salePickGoodsId != null">
            and sale_pick_goods_id = #{salePickGoodsId}
        </if>
        <if test="salePickGoodsCode != null">
            and sale_pick_goods_code = #{salePickGoodsCode}
        </if>
        <if test="saleOutTaskId != null">
            and sale_out_task_id = #{saleOutTaskId}
        </if>
        <if test="saleOutTaskCode != null">
            and sale_out_task_code = #{saleOutTaskCode}
        </if>
        <if test="provinceCode != null">
            and province_code = #{provinceCode}
        </if>
        <if test="provinceName != null">
            and province_name = #{provinceName}
        </if>
        <if test="cityCode != null">
            and city_code = #{cityCode}
        </if>
        <if test="cityName != null">
            and city_name = #{cityName}
        </if>
        <if test="areaCode != null">
            and area_code = #{areaCode}
        </if>
        <if test="areaName != null">
            and area_name = #{areaName}
        </if>
        <if test="streetCode != null">
            and street_code = #{streetCode}
        </if>
        <if test="streetName != null">
            and street_name = #{streetName}
        </if>
        <if test="detailedAddress != null">
            and detailed_address = #{detailedAddress}
        </if>
        <if test="warehouseContac != null">
            and warehouse_contac = #{warehouseContac}
        </if>
        <if test="warehouseMobile != null">
            and warehouse_mobile = #{warehouseMobile}
        </if>
        <if test="carNumber != null">
            and car_number = #{carNumber}
        </if>
        <if test="identityCard != null">
            and identity_card = #{identityCard}
        </if>
        <if test="saleRaisingName != null">
            and sale_raising_name = #{saleRaisingName}
        </if>
        <if test="mobile != null">
            and mobile = #{mobile}
        </if>
        <if test="saleOrderId != null">
            and sale_order_id = #{saleOrderId}
        </if>
        <if test="saleOrderCode != null">
            and sale_order_code = #{saleOrderCode}
        </if>
    </select>
    <update id="updateBatch" parameterType="java.util.List">
        UPDATE order_delivery_self_raising_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="tenant_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.tenantId != null">
                        when id = #{item.id} then #{item.tenantId}
                    </if>

                </foreach>
            </trim>
            <trim prefix="app_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.appId != null">
                        when id = #{item.id} then #{item.appId}
                    </if>

                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.version != null">
                        when id = #{item.id} then #{item.version}
                    </if>

                </foreach>
            </trim>
            <trim prefix="remark = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.remark != null">
                        when id = #{item.id} then #{item.remark}
                    </if>

                </foreach>
            </trim>
            <trim prefix="is_deleted = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.deleted != null">
                        when id = #{item.id} then #{item.deleted}
                    </if>

                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createdTime != null">
                        when id = #{item.id} then #{item.createdTime}
                    </if>

                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createdBy != null">
                        when id = #{item.id} then #{item.createdBy}
                    </if>

                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updatedTime != null">
                        when id = #{item.id} then #{item.updatedTime}
                    </if>

                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updatedBy != null">
                        when id = #{item.id} then #{item.updatedBy}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_pick_goods_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.salePickGoodsId != null">
                        when id = #{item.id} then #{item.salePickGoodsId}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_pick_goods_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.salePickGoodsCode != null">
                        when id = #{item.id} then #{item.salePickGoodsCode}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_out_task_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.saleOutTaskId != null">
                        when id = #{item.id} then #{item.saleOutTaskId}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_out_task_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.saleOutTaskCode != null">
                        when id = #{item.id} then #{item.saleOutTaskCode}
                    </if>

                </foreach>
            </trim>
            <trim prefix="province_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.provinceCode != null">
                        when id = #{item.id} then #{item.provinceCode}
                    </if>

                </foreach>
            </trim>
            <trim prefix="province_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.provinceName != null">
                        when id = #{item.id} then #{item.provinceName}
                    </if>

                </foreach>
            </trim>
            <trim prefix="city_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.cityCode != null">
                        when id = #{item.id} then #{item.cityCode}
                    </if>

                </foreach>
            </trim>
            <trim prefix="city_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.cityName != null">
                        when id = #{item.id} then #{item.cityName}
                    </if>

                </foreach>
            </trim>
            <trim prefix="area_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.areaCode != null">
                        when id = #{item.id} then #{item.areaCode}
                    </if>

                </foreach>
            </trim>
            <trim prefix="area_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.areaName != null">
                        when id = #{item.id} then #{item.areaName}
                    </if>

                </foreach>
            </trim>
            <trim prefix="street_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.streetCode != null">
                        when id = #{item.id} then #{item.streetCode}
                    </if>

                </foreach>
            </trim>
            <trim prefix="street_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.streetName != null">
                        when id = #{item.id} then #{item.streetName}
                    </if>

                </foreach>
            </trim>
            <trim prefix="detailed_address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.detailedAddress != null">
                        when id = #{item.id} then #{item.detailedAddress}
                    </if>

                </foreach>
            </trim>
            <trim prefix="warehouse_contac = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.warehouseContac != null">
                        when id = #{item.id} then #{item.warehouseContac}
                    </if>

                </foreach>
            </trim>
            <trim prefix="warehouse_mobile = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.warehouseMobile != null">
                        when id = #{item.id} then #{item.warehouseMobile}
                    </if>

                </foreach>
            </trim>
            <trim prefix="car_number = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.carNumber != null">
                        when id = #{item.id} then #{item.carNumber}
                    </if>

                </foreach>
            </trim>
            <trim prefix="identity_card = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.identityCard != null">
                        when id = #{item.id} then #{item.identityCard}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_raising_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.saleRaisingName != null">
                        when id = #{item.id} then #{item.saleRaisingName}
                    </if>

                </foreach>
            </trim>
            <trim prefix="mobile = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.mobile != null">
                        when id = #{item.id} then #{item.mobile}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_order_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.saleOrderId != null">
                        when id = #{item.id} then #{item.saleOrderId}
                    </if>

                </foreach>
            </trim>
            <trim prefix="sale_order_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.saleOrderCode != null">
                        when id = #{item.id} then #{item.saleOrderCode}
                    </if>

                </foreach>
            </trim>

        </trim>
        WHERE id IN
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        INSERT INTO order_delivery_self_raising_info
        ( tenant_id, app_id, version, remark, is_deleted, created_time, created_by, updated_time, updated_by,
        sale_order_id,sale_order_code,sale_pick_goods_id, sale_pick_goods_code, sale_out_task_id, sale_out_task_code,
        province_code, province_name,
        city_code, city_name, area_code, area_name, street_code, street_name, detailed_address, warehouse_contac,
        warehouse_mobile, car_number, identity_card, sale_raising_name, mobile )
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.tenantId}, #{item.appId}, #{item.version}, #{item.remark}, #{item.isDeleted}, #{item.createdTime},
            #{item.createdBy}, #{item.updatedTime}, #{item.updatedBy},#{item.saleOrderId},#{item.saleOrderCode},
            #{item.salePickGoodsId},
            #{item.salePickGoodsCode}, #{item.saleOutTaskId}, #{item.saleOutTaskCode}, #{item.provinceCode},
            #{item.provinceName}, #{item.cityCode}, #{item.cityName}, #{item.areaCode}, #{item.areaName},
            #{item.streetCode}, #{item.streetName}, #{item.detailedAddress}, #{item.warehouseContac},
            #{item.warehouseMobile}, #{item.carNumber}, #{item.identityCard}, #{item.saleRaisingName}, #{item.mobile})
        </foreach>
    </insert>
</mapper>