<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.dd.middle.order.mapper.OrderCouponInfoMapper">
    <resultMap type="com.deepexi.dd.middle.order.domain.OrderCouponInfoDO" id="BaseResultMap">
        <result property="id" column="id"/>

        <result property="tenantId" column="tenant_id"/>

        <result property="appId" column="app_id"/>

        <result property="version" column="version"/>

        <result property="remark" column="remark"/>

        <result property="deleted" column="is_deleted"/>

        <result property="createdTime" column="created_time"/>

        <result property="updatedTime" column="updated_time"/>

        <result property="saleOrderId" column="sale_order_id"/>

        <result property="saleOrderCode" column="sale_order_code"/>

        <result property="couponId" column="coupon_id"/>

        <result property="couponCode" column="coupon_code"/>

        <result property="couponType" column="coupon_type"/>

        <result property="couponName" column="coupon_name"/>

        <result property="couponQuntity" column="coupon_quntity"/>

        <result property="faceValue" column="face_value"/>

        <result property="couponRule" column="coupon_rule"/>

        <result property="expiredTime" column="expired_time"/>

        <result property="skuIds" column="sku_ids"/>

        <result property="skuNames" column="sku_names"/>

        <result property="discountAmount" column="discount_amount"/>

    </resultMap>
    <sql id="Base_Column_List">
            id,
            tenant_id,
            app_id,
            version,
            remark,
            is_deleted,
            created_time,
            updated_time,
            sale_order_id,
            sale_order_code,
            coupon_id,
            coupon_code,
            coupon_type,
            coupon_name,
            coupon_quntity,
            face_value,
            coupon_rule,
            expired_time,
            sku_ids,
            sku_names,
            discount_amount    </sql>

    <update id="deleteByIdIn">
        UPDATE order_coupon_info SET is_deleted = 1 WHERE id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_coupon_info
        WHERE is_deleted = 0
        <if test = "id != null">
            and id = #{id}
        </if>
        <if test = "tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test = "appId != null">
            and app_id = #{appId}
        </if>
        <if test = "version != null">
            and version = #{version}
        </if>
        <if test = "remark != null">
            and remark = #{remark}
        </if>
        <if test = "createdTime != null">
            and created_time = #{createdTime}
        </if>
        <if test = "updatedTime != null">
            and updated_time = #{updatedTime}
        </if>
        <if test = "saleOrderId != null">
            and sale_order_id = #{saleOrderId}
        </if>
        <if test = "saleOrderCode != null">
            and sale_order_code = #{saleOrderCode}
        </if>
        <if test = "couponId != null">
            and coupon_id = #{couponId}
        </if>
        <if test = "couponCode != null">
            and coupon_code = #{couponCode}
        </if>
        <if test = "couponType != null">
            and coupon_type = #{couponType}
        </if>
        <if test = "couponName != null">
            and coupon_name = #{couponName}
        </if>
        <if test = "couponQuntity != null">
            and coupon_quntity = #{couponQuntity}
        </if>
        <if test = "faceValue != null">
            and face_value = #{faceValue}
        </if>
        <if test = "couponRule != null">
            and coupon_rule = #{couponRule}
        </if>
        <if test = "expiredTime != null">
            and expired_time = #{expiredTime}
        </if>
        <if test = "skuIds != null">
            and sku_ids = #{skuIds}
        </if>
        <if test = "skuNames != null">
            and sku_names = #{skuNames}
        </if>
        <if test = "discountAmount != null">
            and discount_amount = #{discountAmount}
        </if>
    </select>
    <update id="updateBatch" parameterType="java.util.List">
        UPDATE order_coupon_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="tenant_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.tenantId != null">
                            when id = #{item.id} then #{item.tenantId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="app_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.appId != null">
                            when id = #{item.id} then #{item.appId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.version != null">
                            when id = #{item.id} then #{item.version}
                        </if>

                </foreach>
            </trim>
            <trim prefix="remark = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.remark != null">
                            when id = #{item.id} then #{item.remark}
                        </if>

                </foreach>
            </trim>
            <trim prefix="is_deleted = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.deleted != null">
                            when id = #{item.id} then #{item.deleted}
                        </if>

                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.createdTime != null">
                            when id = #{item.id} then #{item.createdTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.updatedTime != null">
                            when id = #{item.id} then #{item.updatedTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="sale_order_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.saleOrderId != null">
                            when id = #{item.id} then #{item.saleOrderId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="sale_order_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.saleOrderCode != null">
                            when id = #{item.id} then #{item.saleOrderCode}
                        </if>

                </foreach>
            </trim>
            <trim prefix="coupon_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.couponId != null">
                            when id = #{item.id} then #{item.couponId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="coupon_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.couponCode != null">
                            when id = #{item.id} then #{item.couponCode}
                        </if>

                </foreach>
            </trim>
            <trim prefix="coupon_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.couponType != null">
                            when id = #{item.id} then #{item.couponType}
                        </if>

                </foreach>
            </trim>
            <trim prefix="coupon_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.couponName != null">
                            when id = #{item.id} then #{item.couponName}
                        </if>

                </foreach>
            </trim>
            <trim prefix="coupon_quntity = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.couponQuntity != null">
                            when id = #{item.id} then #{item.couponQuntity}
                        </if>

                </foreach>
            </trim>
            <trim prefix="face_value = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.faceValue != null">
                            when id = #{item.id} then #{item.faceValue}
                        </if>

                </foreach>
            </trim>
            <trim prefix="coupon_rule = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.couponRule != null">
                            when id = #{item.id} then #{item.couponRule}
                        </if>

                </foreach>
            </trim>
            <trim prefix="expired_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.expiredTime != null">
                            when id = #{item.id} then #{item.expiredTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="sku_ids = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.skuIds != null">
                            when id = #{item.id} then #{item.skuIds}
                        </if>

                </foreach>
            </trim>
            <trim prefix="sku_names = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.skuNames != null">
                            when id = #{item.id} then #{item.skuNames}
                        </if>

                </foreach>
            </trim>
            <trim prefix="discount_amount = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.discountAmount != null">
                            when id = #{item.id} then #{item.discountAmount}
                        </if>

                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        INSERT INTO order_coupon_info
        (           tenant_id,           app_id,           version,           remark,           is_deleted,           created_time,           updated_time,           sale_order_id,           sale_order_code,           coupon_id,           coupon_code,           coupon_type,           coupon_name,           coupon_quntity,           face_value,           coupon_rule,           expired_time,           sku_ids,           sku_names,           discount_amount        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (                 #{item.tenantId},                 #{item.appId},                 #{item.version},                 #{item.remark},                 #{item.deleted},                 #{item.createdTime},                 #{item.updatedTime},                 #{item.saleOrderId},                 #{item.saleOrderCode},                 #{item.couponId},                 #{item.couponCode},                 #{item.couponType},                 #{item.couponName},                 #{item.couponQuntity},                 #{item.faceValue},                 #{item.couponRule},                 #{item.expiredTime},                 #{item.skuIds},                 #{item.skuNames},                 #{item.discountAmount})
        </foreach>
    </insert>
</mapper>