<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.dd.middle.order.mapper.OrderInvoiceMapper">
    <resultMap type="com.deepexi.dd.middle.order.domain.OrderInvoiceDO" id="BaseResultMap">
        <result property="id" column="id"/>

        <result property="tenantId" column="tenant_id"/>

        <result property="appId" column="app_id"/>

        <result property="version" column="version"/>

        <result property="remark" column="remark"/>

        <result property="deleted" column="is_deleted"/>

        <result property="createdBy" column="created_by"/>

        <result property="createdTime" column="created_time"/>

        <result property="updatedTime" column="updated_time"/>

        <result property="updatedBy" column="updated_by"/>

        <result property="orderType" column="order_type"/>

        <result property="orderId" column="order_id"/>

        <result property="orderCode" column="order_code"/>

        <result property="unitName" column="unit_name"/>

        <result property="invoiceTitle" column="invoice_title"/>

        <result property="bankName" column="bank_name"/>

        <result property="accountName" column="account_name"/>

        <result property="accountNo" column="account_no"/>

        <result property="taxNo" column="tax_no"/>

        <result property="invoiceType" column="invoice_type"/>

        <result property="invocieContent" column="invocie_content"/>

        <result property="mobile" column="mobile"/>

        <result property="address" column="address"/>

        <result property="invoiceId" column="invoice_id"/>

    </resultMap>
    <sql id="Base_Column_List">
            id,
            tenant_id,
            app_id,
            version,
            remark,
            is_deleted,
            created_by,
            created_time,
            updated_time,
            updated_by,
            order_type,
            order_id,
            order_code,
            unit_name,
            invoice_title,
            bank_name,
            account_name,
            account_no,
            tax_no,
            invoice_type,
            invocie_content,
            mobile,
            address,
            invoice_id    </sql>

    <update id="deleteByIdIn">
        UPDATE order_invoice SET is_deleted = 1 WHERE id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_invoice
        WHERE is_deleted = 0
        <if test = "id != null">
            and id = #{id}
        </if>
        <if test = "tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test = "appId != null">
            and app_id = #{appId}
        </if>
        <if test = "version != null">
            and version = #{version}
        </if>
        <if test = "remark != null">
            and remark = #{remark}
        </if>
        <!--<if test = "isDeleted != null">
            and is_deleted = #{isDeleted}
        </if>-->
        <if test = "createdBy != null">
            and created_by = #{createdBy}
        </if>
        <if test = "createdTime != null">
            and created_time = #{createdTime}
        </if>
        <if test = "updatedTime != null">
            and updated_time = #{updatedTime}
        </if>
        <if test = "updatedBy != null">
            and updated_by = #{updatedBy}
        </if>
        <if test = "orderType != null">
            and order_type = #{orderType}
        </if>
        <if test = "orderId != null">
            and order_id = #{orderId}
        </if>
        <if test = "orderCode != null">
            and order_code = #{orderCode}
        </if>
        <if test = "unitName != null">
            and unit_name = #{unitName}
        </if>
        <if test = "invoiceTitle != null">
            and invoice_title = #{invoiceTitle}
        </if>
        <if test = "bankName != null">
            and bank_name = #{bankName}
        </if>
        <if test = "accountName != null">
            and account_name = #{accountName}
        </if>
        <if test = "accountNo != null">
            and account_no = #{accountNo}
        </if>
        <if test = "taxNo != null">
            and tax_no = #{taxNo}
        </if>
        <if test = "invoiceType != null">
            and invoice_type = #{invoiceType}
        </if>
        <if test = "invocieContent != null">
            and invocie_content = #{invocieContent}
        </if>
        <if test = "mobile != null">
            and mobile = #{mobile}
        </if>
        <if test = "address != null">
            and address = #{address}
        </if>
        <if test = "invoiceId != null">
            and invoice_id = #{invoiceId}
        </if>
        ORDER BY created_time DESC
    </select>
    <update id="updateBatch" parameterType="java.util.List">
        UPDATE order_invoice
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="tenant_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.tenantId != null">
                            when id = #{item.id} then #{item.tenantId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="app_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.appId != null">
                            when id = #{item.id} then #{item.appId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.version != null">
                            when id = #{item.id} then #{item.version}
                        </if>

                </foreach>
            </trim>
            <trim prefix="remark = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.remark != null">
                            when id = #{item.id} then #{item.remark}
                        </if>

                </foreach>
            </trim>
            <trim prefix="is_deleted = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.deleted != null">
                            when id = #{item.id} then #{item.deleted}
                        </if>

                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.createdBy != null">
                            when id = #{item.id} then #{item.createdBy}
                        </if>

                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.createdTime != null">
                            when id = #{item.id} then #{item.createdTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.updatedTime != null">
                            when id = #{item.id} then #{item.updatedTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.updatedBy != null">
                            when id = #{item.id} then #{item.updatedBy}
                        </if>

                </foreach>
            </trim>
            <trim prefix="order_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.orderType != null">
                            when id = #{item.id} then #{item.orderType}
                        </if>

                </foreach>
            </trim>
            <trim prefix="order_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.orderId != null">
                            when id = #{item.id} then #{item.orderId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="order_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.orderCode != null">
                            when id = #{item.id} then #{item.orderCode}
                        </if>

                </foreach>
            </trim>
            <trim prefix="unit_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.unitName != null">
                            when id = #{item.id} then #{item.unitName}
                        </if>

                </foreach>
            </trim>
            <trim prefix="invoice_title = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.invoiceTitle != null">
                            when id = #{item.id} then #{item.invoiceTitle}
                        </if>

                </foreach>
            </trim>
            <trim prefix="bank_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.bankName != null">
                            when id = #{item.id} then #{item.bankName}
                        </if>

                </foreach>
            </trim>
            <trim prefix="account_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.accountName != null">
                            when id = #{item.id} then #{item.accountName}
                        </if>

                </foreach>
            </trim>
            <trim prefix="account_no = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.accountNo != null">
                            when id = #{item.id} then #{item.accountNo}
                        </if>

                </foreach>
            </trim>
            <trim prefix="tax_no = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.taxNo != null">
                            when id = #{item.id} then #{item.taxNo}
                        </if>

                </foreach>
            </trim>
            <trim prefix="invoice_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.invoiceType != null">
                            when id = #{item.id} then #{item.invoiceType}
                        </if>

                </foreach>
            </trim>
            <trim prefix="invocie_content = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.invocieContent != null">
                            when id = #{item.id} then #{item.invocieContent}
                        </if>

                </foreach>
            </trim>
            <trim prefix="mobile = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.mobile != null">
                            when id = #{item.id} then #{item.mobile}
                        </if>

                </foreach>
            </trim>
            <trim prefix="address = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.address != null">
                            when id = #{item.id} then #{item.address}
                        </if>

                </foreach>
            </trim>
            <trim prefix="invoice_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.invoiceId != null">
                            when id = #{item.id} then #{item.invoiceId}
                        </if>

                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        INSERT INTO order_invoice
        (           tenant_id,           app_id,           version,           remark,           is_deleted,           created_by,           created_time,           updated_time,           updated_by,           order_type,           order_id,           order_code,           unit_name,           invoice_title,           bank_name,           account_name,           account_no,           tax_no,           invoice_type,           invocie_content,           mobile,           address,           invoice_id        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (                 #{item.tenantId},                 #{item.appId},                 #{item.version},                 #{item.remark},                 #{item.isDeleted},                 #{item.createdBy},                 #{item.createdTime},                 #{item.updatedTime},                 #{item.updatedBy},                 #{item.orderType},                 #{item.orderId},                 #{item.orderCode},                 #{item.unitName},                 #{item.invoiceTitle},                 #{item.bankName},                 #{item.accountName},                 #{item.accountNo},                 #{item.taxNo},                 #{item.invoiceType},                 #{item.invocieContent},                 #{item.mobile},                 #{item.address},                 #{item.invoiceId})
        </foreach>
    </insert>
</mapper>