<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.dd.middle.order.mapper.PayOrderPlatformItemMapper">
  <resultMap id="BaseResultMap" type="com.deepexi.dd.middle.order.domain.PayOrderPlatformItemDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="settle_unit" jdbcType="VARCHAR" property="settleUnit" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="seller_code" jdbcType="VARCHAR" property="sellerCode" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="pay_bank" jdbcType="VARCHAR" property="payBank" />
    <result column="pay_account" jdbcType="VARCHAR" property="payAccount" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="pay_voucher_picture" jdbcType="VARCHAR" property="payVoucherPicture" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_id, app_id, version, remark, is_deleted, created_by, created_time, updated_time, 
    updated_by, order_id, order_code, settle_unit, order_time, seller_id, seller_name, 
    seller_code, pay_way, bank_name, branch_name, account_name, account_no, total_amount, 
    pay_bank, pay_account, pay_time, pay_money, pay_voucher_picture
  </sql>
  <select id="findByQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pay_order_platform_item where is_deleted = 0
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="tenantId != null and tenantId != ''">
      and tenant_id = #{tenantId}
    </if>
    <if test="appId != null">
      and app_id = #{appId}
    </if>
    <if test="version != null">
      and version = #{version}
    </if>
    <if test="remark != null and remark != ''">
      and remark = #{remark}
    </if>
    <if test="isDeleted != null">
      and is_deleted = #{isDeleted}
    </if>
    <if test="createdBy != null and createdBy != ''">
      and created_by = #{createdBy}
    </if>
    <if test="createdTime != null">
      and created_time = #{createdTime}
    </if>
    <if test="updatedTime != null">
      and updated_time = #{updatedTime}
    </if>
    <if test="updatedBy != null and updatedBy != ''">
      and updated_by = #{updatedBy}
    </if>
    <if test="orderId != null">
      and order_id = #{orderId}
    </if>
    <if test="orderCode != null and orderCode != ''">
      and order_code = #{orderCode}
    </if>
    <if test="settleUnit != null and settleUnit != ''">
      and settle_unit = #{settleUnit}
    </if>
    <if test="orderTime != null">
      and order_time = #{orderTime}
    </if>
    <if test="sellerId != null">
      and seller_id = #{sellerId}
    </if>
    <if test="sellerName != null and sellerName != ''">
      and seller_name = #{sellerName}
    </if>
    <if test="sellerCode != null and sellerCode != ''">
      and seller_code = #{sellerCode}
    </if>
    <if test="payWay != null and payWay != ''">
      and pay_way = #{payWay}
    </if>
    <if test="bankName != null and bankName != ''">
      and bank_name = #{bankName}
    </if>
    <if test="branchName != null and branchName != ''">
      and branch_name = #{branchName}
    </if>
    <if test="accountName != null and accountName != ''">
      and account_name = #{accountName}
    </if>
    <if test="accountNo != null and accountNo != ''">
      and account_no = #{accountNo}
    </if>
    <if test="totalAmount != null">
      and total_amount = #{totalAmount}
    </if>
    <if test="payBank != null and payBank != ''">
      and pay_bank = #{payBank}
    </if>
    <if test="payAccount != null and payAccount != ''">
      and pay_account = #{payAccount}
    </if>
    <if test="payTime != null">
      and pay_time = #{payTime}
    </if>
    <if test="payMoney != null">
      and pay_money = #{payMoney}
    </if>
    <if test="payVoucherPicture != null and payVoucherPicture != ''">
      and pay_voucher_picture = #{payVoucherPicture}
    </if>
  </select>


</mapper>