<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.dd.middle.order.mapper.SaleDeliveryGoodsPlanRulesMapper">
    <resultMap type="com.deepexi.dd.middle.order.domain.SaleDeliveryGoodsPlanRulesDO" id="BaseResultMap">
        <result property="id" column="id"/>

        <result property="tenantId" column="tenant_id"/>

        <result property="appId" column="app_id"/>

        <result property="version" column="version"/>

        <result property="remark" column="remark"/>

        <result property="deleted" column="is_deleted"/>

        <result property="createdTime" column="created_time"/>

        <result property="createdBy" column="created_by"/>

        <result property="updatedTime" column="updated_time"/>

        <result property="updatedBy" column="updated_by"/>

        <result property="deliveryWay" column="delivery_way"/>

        <result property="ruleName" column="rule_name"/>

        <result property="rule" column="rule"/>

        <result property="value" column="value"/>

        <result property="isEnabled" column="is_enabled"/>

    </resultMap>
    <sql id="Base_Column_List">
            id,
            tenant_id,
            app_id,
            version,
            remark,
            is_deleted,
            created_time,
            created_by,
            updated_time,
            updated_by,
            delivery_way,
            rule_name,
            rule,
            value,
            is_enabled    </sql>

    <update id="deleteByIdIn">
        UPDATE sale_delivery_goods_plan_rules SET is_deleted = 1 WHERE id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sale_delivery_goods_plan_rules
        WHERE is_deleted = 0
        <if test = "id != null">
            and id = #{id}
        </if>
        <if test = "tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test = "appId != null">
            and app_id = #{appId}
        </if>
        <if test = "version != null">
            and version = #{version}
        </if>
        <if test = "remark != null">
            and remark = #{remark}
        </if>
        <if test = "createdTime != null">
            and created_time = #{createdTime}
        </if>
        <if test = "createdBy != null">
            and created_by = #{createdBy}
        </if>
        <if test = "updatedTime != null">
            and updated_time = #{updatedTime}
        </if>
        <if test = "updatedBy != null">
            and updated_by = #{updatedBy}
        </if>
        <if test = "deliveryWay != null">
            and delivery_way = #{deliveryWay}
        </if>
        <if test = "ruleName != null">
            and rule_name = #{ruleName}
        </if>
        <if test = "rule != null">
            and rule = #{rule}
        </if>
        <if test = "value != null">
            and value = #{value}
        </if>
        <if test = "isEnabled != null">
            and is_enabled = #{isEnabled}
        </if>
    </select>
    <update id="updateBatch" parameterType="java.util.List">
        UPDATE sale_delivery_goods_plan_rules
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="tenant_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.tenantId != null">
                            when id = #{item.id} then #{item.tenantId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="app_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.appId != null">
                            when id = #{item.id} then #{item.appId}
                        </if>

                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.version != null">
                            when id = #{item.id} then #{item.version}
                        </if>

                </foreach>
            </trim>
            <trim prefix="remark = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.remark != null">
                            when id = #{item.id} then #{item.remark}
                        </if>

                </foreach>
            </trim>
            <trim prefix="is_deleted = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.deleted != null">
                            when id = #{item.id} then #{item.deleted}
                        </if>

                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.createdTime != null">
                            when id = #{item.id} then #{item.createdTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="created_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.createdBy != null">
                            when id = #{item.id} then #{item.createdBy}
                        </if>

                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.updatedTime != null">
                            when id = #{item.id} then #{item.updatedTime}
                        </if>

                </foreach>
            </trim>
            <trim prefix="updated_by = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.updatedBy != null">
                            when id = #{item.id} then #{item.updatedBy}
                        </if>

                </foreach>
            </trim>
            <trim prefix="delivery_way = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.deliveryWay != null">
                            when id = #{item.id} then #{item.deliveryWay}
                        </if>

                </foreach>
            </trim>
            <trim prefix="rule_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.ruleName != null">
                            when id = #{item.id} then #{item.ruleName}
                        </if>

                </foreach>
            </trim>
            <trim prefix="rule = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.rule != null">
                            when id = #{item.id} then #{item.rule}
                        </if>

                </foreach>
            </trim>
            <trim prefix="value = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.value != null">
                            when id = #{item.id} then #{item.value}
                        </if>

                </foreach>
            </trim>
            <trim prefix="is_enabled = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                        <if test="item.isEnabled != null">
                            when id = #{item.id} then #{item.isEnabled}
                        </if>

                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        INSERT INTO sale_delivery_goods_plan_rules
        (           tenant_id,           app_id,           version,           remark,           is_deleted,           created_time,           created_by,           updated_time,           updated_by,           delivery_way,           rule_name,           rule,           value,           is_enabled        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (                 #{item.tenantId},                 #{item.appId},                 #{item.version},                 #{item.remark},                 #{item.isDeleted},                 #{item.createdTime},                 #{item.createdBy},                 #{item.updatedTime},                 #{item.updatedBy},                 #{item.deliveryWay},                 #{item.ruleName},                 #{item.rule},                 #{item.value},                 #{item.isEnabled})
        </foreach>
    </insert>
</mapper>